* {
padding: 0;
margin: 0;
}

body {
    font-family: Open Sans;
}

header {
    height: 100px;
    width: 100%;
    background-color: #08101d;
    padding-bottom: 20px;
}

header .menu_container {
    display: flex;
    height: 100%;
    width: 1146px;
    max-width: 100vw;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

header .menu_container a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

main {
    width: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
}

section>div {
    width: 1146px;
    max-width: 100vw;
    margin: 0 auto;
}

.text_rocket {
    background-color: #08101d;
    padding-top: 60px;
}

.text_rocket>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 128px;
    padding-top: 80px;
    padding-bottom: 199px;
    flex-wrap: wrap;
}

.text_rocket .text_ai {
    max-width: 604px;
}

.text_rocket .text_ai h5 {
    text-transform: uppercase;
    color: #3A68B8;
    font-size: 18px;
}

.text_rocket .text_ai h1 {
    color: white;
    font-size: 55px;
    font-weght: 800;
    margin-bottom: 40px;
}

.text_rocket .text_ai p {
    color: #b8bcc2;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 28.8px;
}

.text_rocket .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    color: white;
    border-radius: 5px;
    background-color: #3A68B8;
    padding: 16px 32px;
    border: 0;
    cursor: pointer;
    min-height: 58px;
}

.text_rocket button {
    font-size: 20px;
    font-weight: 600;
}

.btn_play {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.text_ai button img {
    width: 27px;
    height: 26px;
}

.text_rocket .img {
    max-width: 414px;
    max-height: 415px;
}

.text_rocket .img img {
    width: 100%;
    height: 100%;
}

.logo_group {
    background-color: #08101d;
}

.logo_group>div {
    display: flex;
    flex-direction: row;
    gap: 71px;
    padding-top: 20px;
    padding-bottom: 99px;
    flex-wrap: wrap;
    justify-content: center;
}

.brain {
    background-color: #020a18;
}

.brain>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 68px;
    padding-top: 157px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.brain .img {
    max-width: 594px;
    max-height: 548px;
}

.brain .img img {
    width: 100%;
    height: 100%; 
}

.brain .text_ai {
    max-width: 484px;
}

.brain h2 {
    color: white;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}

.brain p {
    color: #b8bcc2;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 600;
    margin-bottom: 50px;
}

.brain button {
    font-size: 16px;
    font-weight: 600;
}

.tile {
    background-color: #020a18;
    padding-top: 164px;
    margin-bottom: 0;
}

.tile>div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
}

.grid-cell {
    background-color: #132035;
    border-radius: 8px;
    padding: 30px;
}

.tile .big {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.tile .img {
    max-width: 98px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.tile .big .img {
    max-width: 306px;
    margin-bottom: 60px;
}

.tile .big img {
    width: 306px;
}

.tile h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 31.25px;
    text-align: center;
    color: #b8bcc2;
    margin-bottom: 30px;
}

.tile .big h4 {
    margin-bottom: 60px;   
}

.tile p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    color: #b8bcc2;
}

@media (max-width: 1145px) {
    .tile>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tile>div>div:nth-child(n+4) {
        display: none;
    }
}

.wall_screen {
    background-color: #020a18;
    padding-top: 243px;
    padding-bottom: 221px;
}

.wall_screen>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.wall_screen .text_ai {
    max-width: 548px;
}

.wall_screen .text_ai h2 {
    color: white;
    font-size: 40px;
    font-weght: 700;
    line-height: 52px;
    margin-bottom: 40px;
}

.wall_screen .text_ai p {
    color: #b8bcc2;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    display: inline-block;
    max-width: 460px;
}

.wall_screen .text_ai p:nth-child(2),
.wall_screen .text_ai p:nth-child(3),
.wall_screen .text_ai p:nth-child(4) {
    margin-bottom: 20px;
}

.wall_screen .img {
    max-width: 573px;
    max-height: 492px;
}

.wall_screen .img img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    background-color: #08101d;
    padding-bottom: 46px;
    padding-top: 48px;
}

footer .footer_container {
    display: flex;
    height: 100%;
    width: 1146px;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
}

footer .footer_container>div {
    width: 362px;
    max-width: 100vw;
    min-height: 156px;
}

footer .footer_container h4 {
    color: white;
    font-size: 16px;
    line-height: 18.75px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 33px;
}

footer .footer_left>div>div {
    max-height: 16.4px;
}

footer .footer_left>div>div a,
footer .footer_left>div>div span {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

footer .footer_left div>div:nth-child(1),
footer .footer_left div>div:nth-child(2) {
    margin-bottom: 24px;
}

footer .footer_container a,
footer .footer_container .adress span {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 16.4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

footer .footer_container .footer_center p {
    color: #b8bcc2;
    font-size: 14px;
    line-height: 16.4px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

footer .footer_container .social {
    display: flex;
    font-display: row;
    justify-content: flex-start;
    align-content: center;
    gap: 24px;
}

footer .footer_container .email a::before {
    content: '';
    display: inline-block;
    background-image: url("img/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 11px;
    margin-right: 9px;
    vertical-align: middle;
}

footer .footer_container .tel a::before {
    content: '';
    display: inline-block;
    background-image: url("img/tel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    vertical-align: middle;
}

footer .footer_container .adress span::before {
    content: '';
    display: inline-block;
    background-image: url("img/adress.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

footer .footer_right .site {
    max-height: 16.4px;
    margin-bottom: 24px;
}

footer .footer_right .site a {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}